.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %h3.text-center Representative
    %h3.text-center 
    = #{@representative.name}
    %h3.text-center
    = #{@representative.ocid}
    %h3.text-center
    = #{@representative.title}

/* contact address (street, city, zip, political party, photo), political party, photo */
